{{#if products.length}}

{{#each products}}
<div class="card">
    <h2>Title : {{title}}</h2>
    <p>Description : {{description}}</p>
    <p>Price : {{price}}</p>
    <p>Stock : {{Stock}}</p>
    <p>Status : {{status}}</p>
    <p>Code : {{code}}</p>
    <p>Category : {{category}}</p>
</div>
{{/each}}
{{else}}
<h2>No hay prroductos aun registrados</h2>
{{/if}}